<section class="header" ng-controller="MenuHeadController as menuHead">
    <h2 class="pull-left">Basket</h2>
    <div class="menu-buttons">
        <button class="btn-primary btn-menu btn-lg pull-right" ng-click="menuHead.openShareModal()" tooltip-placement="bottom" tooltip="Share List">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        </button>
        <button class="btn-primary btn-menu btn-lg pull-right" ng-click="menuHead.newListSelect()" tooltip-placement="bottom" tooltip="New List">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
    </div>
</section>